.App {
  font-family: sans-serif;
  text-align: center;
}
/**/

/*from pavel*/
.SearchResult {
}

/**/

/*from lus*/

body {
  /*background-color: black;*/
  color: wheat;
}

.userbox {
  background: black;
}
a {
  color: wheat;
}

.allmessagesbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: whitesmoke;
  /*width: 50vw;*/
  border-radius: 5px;
}

.allmessagesbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: whitesmoke;
  /*width: 50vw;*/
  border-radius: 5px;
}

.onlymessage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*background-color: black;*/
  background-color: rgb(53, 52, 52);
  width: 50vw;
  border-radius: 5px;
  padding: 10px;
}

.pic {
  background-color: whitesmoke;
  width: 50vw;
  height: auto;
  border: red;
  border-radius: 50px;
}

.searchbar {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column;*/
}

.components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.allusers {
  display: flex;
  flex-wrap: wrap;
}

.searchusers {
  display: flex;
  flex-wrap: wrap;
}
